<h2>Classement</h2>
<table width="100%">
  <thead>
    <tr>
      <th><abbr style="border-bottom: 1px dashed black; cursor: help;" title="Classement">#</abbr></th>
      <th>Perso</th>
      <th>Joueur</th>
      <th><abbr style="border-bottom: 1px dashed black; cursor: help;" title="Matchs joués">J.</abbr></th>
      <th><abbr style="border-bottom: 1px dashed black; cursor: help;" title="Matchs gagnés">G.</abbr></th>
      <th><abbr style="border-bottom: 1px dashed black; cursor: help;" title="Matchs perdus">P.</abbr></th>
      <th><abbr style="border-bottom: 1px dashed black; cursor: help;" title="Matchs abandonnés">A.</abbr></th>
      <th><abbr style="border-bottom: 1px dashed black; cursor: help;" title="Score">S.</abbr></th>
      <th><abbr style="border-bottom: 1px dashed black; cursor: help;" title="Différence entre pour et contre">Diff.</abbr></th>
    </tr>
  </thead>
  <tbody>
    <% last_rank = 1 %>
    <% last_score = -1 %>
    <% players.each_index do |i| %>
      <% player = players[i] %>
      <% cur_rank = (player.score+player.goal_average == last_score ? last_rank : i+1) %>
      <% last_rank = cur_rank %>
      <% last_score = player.score+player.goal_average %>
      <tr>
        <td align="center"><%= cur_rank %></td>
        <td align="center"><img style="display: block;" title="<%= player.character %>" alt="Image <%= player.character %>" src="<%= perso_img('ssf4', player.character) %>" width="32px" /></td>
        <td><%= player.name %></td>
        <td align="center"><%= player.plays %></td>
        <td align="center" style="color: #00bf55;"><%= player.wins %></td>
        <td align="center" style="color: #c31212;"><%= player.defeats %></td>
        <td align="center" style="color: #df12c0;"><%= player.desertions %></td>
        <td align="center"><strong><%= player.score %></strong></td>
        <td align="center"><strong><%= player.goal_average > 0 ? ('+' + player.goal_average.to_s) : player.goal_average %></strong></td>
    </tr>
    <% end %>
  </tbody>
  <tfooter>
    <tr>
      <th><abbr style="border-bottom: 1px dashed black; cursor: help;" title="Classement">#</abbr></th>
      <th>Perso</th>
      <th>Joueur</th>
      <th><abbr style="border-bottom: 1px dashed black; cursor: help;" title="Matchs joués">J.</abbr></th>
      <th><abbr style="border-bottom: 1px dashed black; cursor: help;" title="Matchs gagnés">V.</abbr></th>
      <th><abbr style="border-bottom: 1px dashed black; cursor: help;" title="Matchs perdus">D.</abbr></th>
      <th><abbr style="border-bottom: 1px dashed black; cursor: help;" title="Matchs abandonnés">A.</abbr></th>
      <th><abbr style="border-bottom: 1px dashed black; cursor: help;" title="Score">S.</abbr></th>
      <th><abbr style="border-bottom: 1px dashed black; cursor: help;" title="Différence entre pour et contre">Diff.</abbr></th>
    </tr>
  </tfooter>
</table>
